/* ====== MAIN CATALOGUE ====== */

h1 {
  font-size: 2rem;
  padding: 1rem;
}

/* background image */
.container-catalogue {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100%; /* Lien occupe toute la largeur */
  height: 40vh; /* Lien occupe toute la hauteur */
  background-image: url("../images/100955894.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* position : relative; */
}

.titre-choisir-cafe {
  color: #080808bd;
  font-weight: bold;
  background-color: rgba(172, 165, 164, 0.5);
  /* position : absolute; */
  bottom: 22px;
  padding: 2rem;
  font-size: 2rem;
}

.recherche-categorie {
  color: #5a3e2b;
  margin-bottom: 10px;
}

/* ----- section formulaire ----- */

.container-formulaire {
  width: 90%; /* Utilisation d'un pourcentage pour une meilleure adaptabilité */
  max-width: 600px; /* Empêche le formulaire de devenir trop large sur grand écran */

  padding: 20px;
  background-color: #e6e5da;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.recherche-categorie {
  color: #5a3e2b;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

/* Style du select */
select {
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  border: 2px solid #5a3e2b;
  border-radius: 5px;
}

/* Style du bouton */
input[type="submit"] {
  width: 100%;
  background-color: #5a3e2b;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #7a5b44;
  transform: scale(1.05);
}

select option {
  background-color: #e6e5da;
  /* ça reste bleu TODO à modifier ? */
  /* color: #5a3e2b; */
}

/* ----- section produits catalogue----- */

.catalogue-produits {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
}

.titre-presentation-produits {
  color: #5a3e2b;
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 1.5rem;
}

.container-produits-catalogue {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-produit-catalogue {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 10px;
  text-align: center;
  width: 100%;
  border: 2px solid #5a3e2b;
}

.container-produit {
  display: flex;
  flex-direction: column;
  border: 4px solid #5a3e2b;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

.produit_name {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
}

.container-produit img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.btn-voir-details {
  display: block;
  background-color: #d0c6b8;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 5rem;
  border-radius: 5rem;
  width: fit-content;
  margin: auto;
  border: 4px solid #5a3e2b;
}

/* ----- section voir plus produits -----  */
.btn-produits {
  background-color: #5a3e2b;
  color: white;
  /* display: block; */
  margin: auto;
  font-size: 18px;
  font-weight: bold;

  padding: 1rem 1.5rem;
  border-radius: 5rem;
  border: 2px solid #5a3e2b;
  cursor: pointer;
  transition: all 0.3s ease;

  width: 245px;
  text-decoration: none;
  text-align: center;
}

.btn-produits:hover {
  background-color: #e6d5b8;
  transform: scale(1.08);
}

.voir-plus-produits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 4rem 0;
  gap: 1rem;
}

/* ===== MEDIA QUERIES ===== */
/* Tablette (min-width: 768px) */
@media (min-width: 768px) {
  .header {
    justify-content: flex-start;
  }

  .header-menu__button {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

  .nav a {
    padding: 5px;
    margin: 2px;
  }

  #image-accueil {
    width: 50%;
    height: auto;
    max-width: 650px;
  }

  .container-accueil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
  }

  .container-produits {
    display: flex;
    flex-direction: row;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .container-produit-caracteristiques {
    flex-direction: row;
    justify-content: center;
  }

  .cafe img {
    width: 100%;
  }

  .details-produit {
    margin: 0 auto;
  }

  .container-produits-catalogue {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    justify-content: center;
  }
  .container-produit-catalogue {
    /* width:30%; */
    /* max-width: 1200px; */
  }
}
