.productName {
  font-size: 2.5rem;
  color: #5a3e2b;
  text-align: center;
  margin: 20px 0;
}

.container-produit-caracteristiques {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.image-produit-selectionne {
  width: 50%;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
}

.details-produit {
  background-color: #c2a883;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  /* max-width: 600px; */
}

.details-produit h2 {
  font-size: 1.5rem;
  color: #5a3e2b;
  margin-bottom: 10px;
}

.details-produit ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
}

.details-produit li {
  font-size: 1rem;
  padding: 5px 0;
  color: #333;
}

.text-green {
  color: green;
  font-weight: bold;
}
.text-red {
  color: red;
  font-weight: bold;
}
/* ===== MEDIA QUERIES ===== */
/* Tablette (min-width: 768px) */
@media (min-width: 768px) {
  .container-produit-caracteristiques {
    flex-direction: row;
    justify-content: center;
  }

  .productContainer {
    width: 50%;
  }

  .details-produit {
    margin: 0 auto;
    width: 30rem;
    max-height: 40rem;
    margin: 1rem;
  }

  .image-produit-selectionne {
    max-width: 35rem;
    margin: 1rem;
  }
}
