<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>O' Coffee</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/reset.css" />
  <script defer src="../js/app.js" type="module"></script>
</head>

<body class="body">
  <div class="container-global">
    <header class="header">
      <img id="logo" src="/images/logo.svg" alt="Logo O'Coffee">
      <button id="menu-toggler" class="header-menu__button" href=""></button>
      <nav class="nav" role="navigation">
        <a href="/">Accueil</a>
        <a href="/catalogue">catalogue</a>
        <a href="/404">Recherche</a>
        <a href="/404">Favoris</a>

      </nav>
    </header>