<!-- <!DOCTYPE html>
<html lang="fr"> -->

<!-- HEAD -->

<!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>O' Coffee</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script defer src="/js/app.js" type="module"></script>
</head> -->

<!-- ACCUEIL -->

<!-- <body class="body">
  <div class="container-global"> -->

<!-- HEADER -->
<header class="header">
  <img id="logo" src="/images/logo.svg" alt="Logo O'Coffee">
  <button id="menu-toggler" class="header-menu__button" href=""></button>
  <nav class="nav" role="navigation">
    <a href="/">Accueil</a>
    <a href="/catalogue">catalogue</a>

  </nav>
</header>