<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>O' Coffee</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/reset.css" />
  <!-- <link rel="stylesheet" href="/css/debug.css" /> -->
</head>

<body class="body">
  <div class="container-global">
    <header class="header">
      <img id="logo" src="/images/logo.svg" alt="Logo O'Coffee">
      <nav class="nav">
        <a href="/accueil">Accueil</a>
        <a href="/catalogue">catalogue</a>
        <a href="">Recherche</a>
        <a href="">Favoris</a>
      </nav>
    </header>

    <main>

      <!----- section image produit ----->

      <h1>nom du produit</h1>

      <article class="productContainer">



      </article>

      <div class="cardsContainer">
        <div class="card">
          <a href="/card/<%= card.id %>">
            <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
            <p class="cardName">
              <%= card.name %>
            </p>
          </a>
          <a class="link--addCard" title="Ajouter au deck" href="#">[ + ]</a>
        </div>
      </div>
      <div class="details">
        <p><span>Elément</span> : <%= card.element || 'Aucun' %>
        </p>
        <p><span>Niveau</span> : <%= card.level %>
        </p>
        <p><span>Valeurs</span> : </p>
        <ul>
          <li>Nord : <%= card.value_north %>
          </li>
          <li>Est : <%= card.value_east %>
          </li>
          <li>Sud : <%= card.value_south %>
          </li>
          <li>Ouest : <%= card.value_west %>
          </li>
        </ul>

      </div>







    </main>

    <footer class="footer">
      <div class="footer-container">
        <nav class="footer-nav">
          <a href="contact.html">Contact</a>
          <a href="mentions-legales.html">Mentions légales</a>
        </nav>
        <p>&copy; 2024 O'Coffee - Tous droits réservés.</p>
        <p>Un site dédié aux amateurs de café.</p>
      </div>
    </footer>
  </div>
</body>

</html>

<!-- TODO  -->
<!-- créer une balise button pour JS ?? au lieu de  <a href="/produit" class="btn">Découvrir le produit</a> -->