<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- include -->
  <%- include('partials/head') %>

    <!-- title -->
    <title>oCoffee</title>

    <!-- style -->
    <link rel="stylesheet" href="/css/common.css">
</head>

<body class="body">
  <div class="container-global">
    <%- include('partials/header') %>
      <main>

        <!-- 404 -->

        <h1 class="page-404">Cette page n'existe pas </h1>
        <img id="img-page-404" src="/images/404.png" alt="rassemblement de grains de café en carte du monde">

        <!-- COMMUNS FOOTER -->
      </main>
      <%- include('./partials/footer') %>
  </div>
</body>

</html>