<%- include('./partials/header') %>

  <main>


    <h1 class="page-404">Cette page n'existe pas </h1>

    <!-- <img id="img-404" src="/visuals/404.webp" alt=""> -->
    <img id="img-page-404" src="/images/404.png" alt="rassemblement de grains de café en carte du monde">

  </main>




  <%- include('./partials/footer') %>