<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- include -->
  <%- include('partials/head') %>

    <!-- title -->
    <title>oCoffee</title>

    <!-- style -->
    <link rel="stylesheet" href="/css/common.css">
</head>

<body class="body">
  <div class="container-global">
    <%- include('partials/header') %>
      <main>

        <!-- 500 -->

        <h1 class="page-404">500 - Erreur serveur</h1>
        <h1>C'est pété ¯\(ツ)/¯ </h1>
        <% if (message) { %>
          <p>Détails du message: <%= message %>
          </p>
          <% } %>

            <img id="img-page-404" src="/images/500.png" alt="">

            <!-- COMMUNS FOOTER -->
      </main>
      <%- include('./partials/footer') %>
  </div>
</body>

</html>