<%- include('./partials/header') %>

  <main>




    <h1 class="page-404">500 - Erreur serveur</h1>
    <h1>C'est pété ¯\(ツ)/¯ </h1>
    <% if (message) { %>
      <p>Détails du message: <%= message %>
      </p>
      <% } %>

        <img id="img-page-404" src="/images/500.png" alt="">

  </main>


  </main>


  <%- include('./partials/footer') %>