<%- include('./partials/header') %>


  <main>
    <section class=" container-accueil">

      <article class="texte-accueil">
        <h1 class="h1">Qui sommes-nous ?</h1>
        <p>Jean et Jacques Pepper, deux frères passionnés par le café, sont les fondateurs de notre boutique. Avec une
          expertise approfondie et un amour profond pour cette délicieuse boisson, ils ont créé un espace où le café
          est célébré comme une expérience raffinée et inspirante.</p>
        <a href="">Voir notre catalogue</a>
      </article>
      <img id="image-accueil" src="/images/about.jpg" alt="à décrire">

    </section>

    <section class="nouveautes">
      <h2>Nouveautés</h2>
      <div class="container-produits">

        <article class="container-produit">
          <div class="image-container">
            <img src="/images/100955890.png" alt="à décrire">
            <p class="produit">expresso</p>
          </div>
          <a href="/produit" class="btn">Découvrir le produit</a>
        </article>

        <article class="container-produit">
          <div class="image-container">
            <img src="/images/100955890.png" alt="à décrire">
            <p class="produit">expresso</p>
          </div>
          <a href="/produit" class="btn">Découvrir le produit</a>
        </article>

        <article class="container-produit">
          <div class="image-container">
            <img src="/images/100955890.png" alt="à décrire">
            <p class="produit">expresso</p>
          </div>
          <a href="/produit" class="btn">Découvrir le produit</a>
        </article>

        </article>
      </div>
    </section>

  </main>

  <%- include('./partials/footer') %>