<%- include('./partials/header') %>

  <main>

    <!----- section notre catalogue ----->
    <h1 class="h1">Notre catalogue</h1>
    <section class="container-catalogue">
      <h2 class="titre-choisir-cafe">Choisissez votre café</h2>
    </section>

    <!----- section formulaire recherche par catégories ----->
    <section class="container-formulaire">
      <h2 class="recherche-categorie">Recherchez votre café en fonction de sa catégorie</h2>

      <form action="/search/categorie" method="get">
        <select name="categorie" id="categorie">
          <option value="null">aucun</option>
          <option value="categorie1">categorie 1</option>
          <option value="categorie2">categorie 1</option>
          <option value="categorie3">categorie 1</option>
          <option value="categorie4">categorie 1</option>
          <option value="categorie5">categorie 1</option>

        </select>
        <input type="submit" value="Chercher">
      </form>
    </section>


    <!----- section produits ----->
    <h2 class="titre-presentation-produits">Découvrez nos cafés</h2>
    <section class="catalogue-produits">
      <article class="container-produit">
        <div class="image-container">
          <img src="/images/100955890.png" alt="à décrire">
          <p class="produit">expresso</p>
        </div>
        <a href="/produit" class="btn">Découvrir le produit</a>
      </article>

      <article class="container-produit">
        <div class="image-container">
          <img src="/images/100955890.png" alt="à décrire">
          <p class="produit">expresso</p>
        </div>
        <a href="/produit" class="btn">Découvrir le produit</a>
      </article>

      <article class="container-produit">
        <div class="image-container">
          <img src="/images/100955890.png" alt="à décrire">
          <p class="produit">expresso</p>
        </div>
        <a href="/produit" class="btn">Découvrir le produit</a>
      </article>

      </article>
    </section>

    <!----- section voir plus de produits ----->

    <section class="voir-plus-produits">
      <button class="btn-produits">VOIR PLUS DE PRODUITS</button>
    </section>

    <!----- section produits non visibles----->
    <!-- <h2 class="titre-tous-produits">Tous les cafés</h2> -->
    <section class="catalogue-produits total-produits">
      <article class="container-produit">
        <div class="image-container">
          <img src="/images/582954954.png" alt="à décrire">
          <p class="produit">expresso</p>
        </div>
        <a href="/produit" class="btn">Découvrir le produit</a>
      </article>

      <article class="container-produit">
        <div class="image-container">
          <img src="/images/582954954.png" alt="à décrire">
          <p class="produit">expresso</p>
        </div>
        <a href="/produit" class="btn">Découvrir le produit</a>
      </article>

      <article class="container-produit">
        <div class="image-container">
          <img src="/images/582954954.png" alt="à décrire">
          <p class="produit">expresso</p>
        </div>
        <a href="/produit" class="btn">Découvrir le produit</a>
      </article>

      </article>
    </section>


  </main>



  <%- include('./partials/footer') %>