<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>O' Coffee</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/reset.css" />
  <!-- <link rel="stylesheet" href="/css/debug.css" /> -->
</head>

<body class="body">
  <div class="container-global">
    <header class="header">
      <img id="logo" src="/images/logo.svg" alt="Logo O'Coffee">
      <nav class="nav">
        <a href="./accueil.html">Accueil</a>
        <a href="./catalogue.html">catalogue</a>
        <a href="">Recherche</a>
        <a href="">Favoris</a>
      </nav>
    </header>

    <main>

      <!----- section image produit ----->

      <h1 class="productName">nom du café</h1>
      <div class="container-produit-caracteristiques">
        <article class="productContainer">
          <div class="cafe">
            <a href="">
              <img src="../images/134009550.png" alt="illustration">
            </a>

          </div>


        </article>

        <article class="details-produit">
          <h2>Caractéristiques du produit</h2>
          <ul>
            <li>Description :
            </li>
            <li>Référence :
            </li>
            <li>Origine :
            </li>
            <li>Prix au kilo :
            </li>
            <li>Caractéristique principale :
            </li>
            <li>Disponible :
            </li>
          </ul>
        </article>
      </div>
      <!-- fin section image produits ----- -->
  </div>

  </main>

  <footer class="footer">
    <div class="footer-container">
      <nav class="footer-nav">
        <a href="contact.html">Contact</a>
        <a href="mentions-legales.html">Mentions légales</a>
      </nav>
      <p>&copy; 2024 O'Coffee - Tous droits réservés.</p>
      <p>Un site dédié aux amateurs de café.</p>
    </div>
  </footer>
  </div>
</body>

</html>

<!-- TODO  -->
<!-- créer une balise button pour JS ?? au lieu de  <a href="/produit" class="btn">Découvrir le produit</a> -->